/* Element Styling */
html {
    background: #eef6fc;
}

/* Appointment card section styling */
.appt-container {
    display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
	grid-gap: 0.5em;
}

.card {
    height: max-content;
}

/* Google Map */
/* Always set the map height explicitly to define the size of the div element that contains the map. */
#map {
    height: 400px;
}

/* Google Maps Autocomplete search styling */
.pac-icon {
    display: none;
}

.pac-item {
    cursor: pointer;
    font-size: 16px;
    padding: 5px;
}

.pac-item:hover {
    background-color: #ececec;
}

.pac-item-query {
    font-size: 16px;
}
